<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Halcyon App Package</h2>
                    <h3 class="section-subheading text-muted">How we accelerate your startup</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/app-package/design.jpg" alt="">
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Design</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you do not already have a logo or a name for your product, we will help you create one. We have connections with graphic designers who will work with you to craft the perfect company image.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/app-package/define.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Define</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We work with you to create a clear roadmap of exactly what functionality is needed for the MVP (Minimum Viable Product). We will advise startups on what features add value and prove market fit. From there, we will discuss development timelines and product platforms.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/app-package/develop.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Develop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is when we will get started on creating your application! We will provide regular checkpoints where you can see our progress and provide input about design and features along the way.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/app-package/deploy.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Deploy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once we have completed the scope of the project, we are ready to deploy the application to its first users! We will configure cloud servers to support your application if necessary and set up a beta program on your application's platforms. From there, you can learn how real users are interacting with your product and gain insight into where your product can improve. </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/app-package/deliver.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <h4 class="subheading">Deliver</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We will provide documentation and training for your team to maintain and improve the software as your product grows and evolves</p>
                                </div>
                            </div>
                        </li>

						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>Be Part
									<br>Of Our
									<br>Story!</h4>
							</div>
						</li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
